<h1>Header Goes Here</h1>
<form action='/results' method='get'>
  <div class="form-group">
    <input id="form_id" name="form_name" class="form-control" type="text">
  </div>

      <button type="submit" class="btn btn-info">Submit!</button>
</form>
